body,
html {
  margin: 0;
  padding: 0;

  background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.my-border {
  border: 1px solid rgb(0, 0, 0);
}

.p-height {
  height: 40px;
  align-content: center;
  font-size: 20px;
  font-weight: bold;
  overflow-x: auto;
  background-color: #fff;
}

.p-height::-webkit-scrollbar {
  display: none;
}

span {
  cursor: pointer;
  user-select: none;
  background-color: greenyellow;
  transition: 0.2s all ease-in;
}

span:hover {
  background-color: rgb(0, 255, 0);
}
